body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #007bff;
    font-size: 60px;
    margin: 1px auto 80px
}

input[type="text"],
input[type="number"] {
    font-size: large;
    padding: 10px;
    margin: 15px auto 10px 840px;
    border-radius: 10px;
    display: block;
    border: 3px solid #0062ff;
}

button {
    padding: 40px 20px;
    margin: 50px auto 80px 915px;
    display: block;
    border: none;
    border-radius: 5px;
    background-color: #006bdd;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #000658;
}

#resultado {
    font-size: large;
    margin: 100px;
    padding: 30px;
    border-radius: 25px;
    background-color: #fcfcfc;
    border: 3px solid #0062ff;
}